.header {
  width: 100%;
  position: block;
  z-index: 1;
}
.navContainer {
  justify-content: space-between;
  background-color: hsl(from var(--clr-userscreens) h s l / 0.9);
  backdrop-filter: blur(4px);
  border: 1px solid var(--clr-bordercolor);
  display: flex;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
}
.navIcon {
  height: 45px;
  width: 45px;
  background-image: url(../../../assets/header/menu.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 200ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-image: url(../../../assets/header/menuGreen.svg);
  }
}
